[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ximax
[access "refs/for/refs/*"]
	read = group user/ximax
	push = group user/ximax
	label-Code-Review = -2..+2 group user/ximax
	label-Verified = -1..+1 group user/ximax
	rebase = group user/ximax
	removeReviewer = group user/ximax
	submit = group user/ximax
[access "refs/heads/*"]
	read = group user/ximax
	create = group user/ximax
	push = +force group user/ximax
	pushMerge = group user/ximax
[access "refs/tags/*"]
	push = +force group user/ximax
	pushTag = group user/ximax
	pushSignedTag = group user/ximax
